* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-primery);
}
:root {
  --bg-primery: #0d1117;
  --bg-seconadry: #212830;
  --bg-button: #238737;

  --text-primery: #f0f6fc;
  --text-seconadry: #9198a1;

  --radius-sm: 10px;
  --radius-m: 15px;
  --radius-lg: 20px;
  --radius-xl: 25px;

  --nav-padding: 1rem 2rem;
  --section-padding: 1rem 2rem;

  --padding-s: 5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;
  --padding-xxl: 25px;
}
main nav {
  display: flex;
  justify-content: space-between;
  padding: var(--nav-padding);
}
main nav .left {
  color: var(--text-primery);
  padding: var(--padding-m);
}
main nav .right button {
  color: var(--text-primery);
  padding: var(--padding-m);
  border: none;
  outline: none;
  background-color: var(--bg-button);
  border-radius: var(--radius-sm);
  cursor: pointer;
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
section {
  display: flex;
  justify-content: space-between;
  padding: var(--section-padding);
  flex-grow: 1;
  gap: var(--padding-xxl);
}
section .task-colmun {
  background-color: var(--bg-seconadry);
  color: var(--text-primery);
  flex-grow: 1;
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  gap: var(--padding-l);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
section .task-colmun.hover-over {
  border: 2px dashed var(--text-seconadry);
  scale: 1.04;
}
section .task-colmun .heading {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-xxl);
}
section .task-colmun .task {
  background-color: var(--bg-primery);
  margin: var(--padding-l);
  padding: var(--padding-l);
  border-radius: var(--radius-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
}
section .task-colmun .task button {
  align-self: flex-end;
  padding: var(--padding-m);
  border: none;
  outline: none;
  background-color: #d73a49;
  color: var(--text-primery);
  border-radius: var(--radius-sm);
  cursor: pointer;
}
.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .center {
  background-color: var(--bg-primery);
  padding: var(--padding-xxl);
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
  z-index: 10;
}
.modal .center input,
.modal .center textarea {
  padding: var(--padding-m);
  border: none;
  outline: none;
  background-color: var(--bg-seconadry);
  border-radius: var(--radius-sm);
}
.modal .center button {
  padding: var(--padding-m);
  border: none;
  outline: none;
  background-color: var(--bg-button);
  color: var(--text-primery);
  border-radius: var(--radius-sm);
  cursor: pointer;
}
.modal .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 5;
}
.modal.add-task {
  display: none;
}
.modal.add-task.active {
  display: flex;
}
